*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/bg-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}
.logo{
    position: absolute;
    top: 30px;
    left: 20px;
    height: 40px;
   
}
.illustration{
    padding-top: 50px;
    width: 90%;
    background-size: cover;
    
}
.text-content{
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.text-content button{
    padding: 10px 50px;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    color:hsl(257, 40%, 49%) ;
    
}
.text-content p{
    line-height: 1.5em;
}
.footer{
    position: absolute;
    bottom: 30px;
    font-size: 1.5em;
}